# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node modules
node_modules

# Build outputs
dist
dist-ssr

# Local environment files
*.local
.env
.env.*   # Include .env files for various environments (e.g., .env.production, .env.development)

# Firebase config
firebase-debug.log

# Vite build outputs
.vite
.cache

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ASP.NET specific
bin/
obj/
*.user
*.rsuser
*.dbmdl
*.jfm
*.config  # If you're storing any configuration files in the repository, you may want to exclude some sensitive config files
